/* color templates*/

.color-primary{
    color:$color-primay;
}
.color-primary-bg{
    background:$color-primay;
}

.color-second{
    color:$color-second;
}

.color-second-bg{
    background:$color-second;
}

.color-yellow{
    color:$color-yellow;
}

.color-yellow-bg{
    background:$color-yellow;
}